.main {
    display: flex;
    flex-direction: column;
}
.topBar {
    display: flex;
    flex-direction: row;
    background-color: black;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
}
.topBar h1{
    color: white;
}


.content{
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
    background-color: gray;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1vh;
    padding: 1vh;
}
.itens{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    gap: 0.5vh;
}
.itens img{
    height: 30vh;
}
.itens a{
    font-family: 'Lato', sans-serif;
    font-size: large;
    color: white;
    
}